{% extends "_base.html" %}
{% block content %}
<style>
    .parallax {
    background-image: url("/media/documents/home1.jpg");
    min-height: 1400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
<div class="parallax parallax-curtain">
<div class="container" style="margin-top:4%;">

    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center"><b>Fruit Bucket</b></h1>
      </div>
    <div class="col-md-12">
    <h2 class="text-center">Order Delicious fruits and enjoy :)     </h2>
    </div>

  </div>
<h3 class="text-center">Ecommerce website especially for fruits</h3>


    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center"><b>Developer</b></h1>
      </div>
    <div class="col-md-12">
    <h2 class="text-center">Ram Deepak</h2>
    </div>
  </div>
    <div class="container col-md-8">
        <img src="https://scontent-maa2-1.xx.fbcdn.net/v/t1.0-9/12813908_829343673877547_4744009871316367836_n.jpg?_nc_cat=0&oh=5aa4f2b2f00223ae31e5177da2fe24fd&oe=5C0ED8EE" class="img-fluid" style="width:100%;">
    </div>
   <div class="container col-md-4"><h3 class="text-center">Success is not final; failure is not fatal: It is the courage to continue that counts.</h3>
    </div>
  </div>
</div>
{% endblock %}