{% extends "_base.html" %}

{% block content %}
<div class="container well" style="margin-top:6%;">
	<div class="cols-xs-6 cols-xs-offset-3">
		<form method="post">
			{% csrf_token %}
			<fieldset>
				
				<div class="form-group">
					<label for="{{ form.first_name.id_for_label }}">First Name</label>
					{{form.first_name}}
				</div>
				<div class="form-group">
					<label for="{{ form.last_name.id_for_label }}">Last Name</label>
					{{form.last_name}}
				</div>

				<div class="form-group">
					<label for="{{ form.last_name.id_for_label }}">Email</label>
					{{form.email}}
				</div>


				<div class="form-group">
					<label for="{{ form.username.id_for_label }}">User Name</label>
					{{form.username}}
				</div>
				<div class="form-group">
					<label for="{{ form.password.id_for_label }}">Password</label>
					{{form.password}}
				</div>
				<input type="submit" value="submit"/>
				<div class="container" align="center">
					<a href="{% url 'fruitapp:login' %}">Login Here</a>
				</div>

			</fieldset>
		</form>
	</div>
</div>

{% endblock %}